/*   LATO FONT    */


/** Lato Regular */
@font-face {
    font-family: 'Lato';
    src: local('Lato Regular'), local('Lato-Regular'),url('../fonts/Lato/Lato-Regular.woff2') format('woff2'), /* Modern Browsers */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}



/*   MONTSERRAT FONT   */

/** Montserrat Regular **/
@font-face {
    font-family: "Montserrat";
    font-weight: 400;
    font-style: normal;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url("../fonts/Montserrat/Montserrat-Regular.woff2") format("woff2"),
}

